<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1><%= "Team Name: #{@new_team[0]}"%></h1>
    <h1><%= "Coach: #{@coach}"%></h1>

 </body>
</html>
